build
build-*
deploy
.cache
output
*.gz
*.log
augmented_graph.graph
.vscode
graphs/
.venv/
datasets/
BITMATRIX_*
CMakeCache.txt
perf.data 
perf.data.old
results/
*.png
scripts/
.gitignore
tcavalcanti*/
CMakeFiles/
datasets*/