build
build-*
deploy
.cache
output
*.gz
*.log
augmented_graph.graph
.vscode
graphs/
.venv/
datasets/
BITMATRIX_*
CMakeCache.txt
perf.data 
perf.data.old
results/
*.png
scripts/*
!scripts/dataset_generation/
scripts/dataset_generation/*
!scripts/dataset_generation/generate_graph_datasets.py
!scripts/dataset_generation/generate_link_datasets.py
!scripts/dataset_generation/test_generate_graph_datasets.py
!scripts/experiment_runner/
scripts/experiment_runner/*
!scripts/experiment_runner/run_configurations.py
!scripts/experiment_runner/configurations.all.toml
!scripts/experiment_runner/configurations.example.toml
!scripts/experiment_runner/test_run_configurations.py
!scripts/visualization/
scripts/visualization/*
!scripts/visualization/visualize_experiments.py
!scripts/visualization/collect_results.py
.gitignore
tcavalcanti*/
CMakeFiles/
datasets*/
